<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">

    <title>DevNexus</title>

    <link rel="stylesheet" type="text/css" th:href = "@{'/css/bootstrap.css'}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href = "@{'/css/blog.css'}">
    <link rel="stylesheet" type="text/css" th:href = "@{'/css/style.css'}">
</head>

<body>

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <a class="navbar-brand" th:href="@{'/posts'}">
                <img th:src="@{/logo.png}" alt="Logo" height="30" width="30" class="mr-2">
                <strong>DevNexus</strong>
            </a>

            <div class="dropdown">
                <div sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="@{/profile.png}" alt="Profile" height="30" width="30" class="mr-2">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" >
                        <li><a class="dropdown-item" th:href="@{'/profile'}">Profile</a></li>
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a class="dropdown-item" th:href="@{'/admin-panel'}">Admin panel</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li ><a class="dropdown-item" th:href="@{'/log-out'}">Log out</a></li>
                    </ul>
                </div>
                <a class="btn btn-sm btn-outline-secondary" th:href="@{'/sign-up-page'}" sec:authorize="isAnonymous()">Sign up</a>
                <a class="btn btn-sm btn-outline-secondary" th:href="@{'/sign-in-page'}" sec:authorize="isAnonymous()">Sign in</a>
            </div>

        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" th:each="category : ${categories}" th:href="@{'/category/' + ${category.getId()}}">
                <span th:text="${category.getName()}"></span>
            </a>
        </nav>
    </div>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title" th:text="${post.getTitle()}"></h2>
                    <p class="blog-post-meta">
                        <script>
                            var date = new Date(/*[[${post.getCreatedAt()}]]*/);
                            var options = { month: 'short', day: 'numeric', locale: 'en-US' };
                            var formattedDate = date.toLocaleDateString('en-US', options);
                            document.write(formattedDate);
                        </script>
                    </p>
                    <div th:each="line : ${post.content.split('\n')}">
                        <p th:text="${line}"></p>
                    </div>
                </div>
            </div>


        </div>

    </main>



</div>


<footer class="blog-footer">
    <p>Made by <a href="https://t.me/Aishuga">Aisha</a> with the help of <a href="https://getbootstrap.com/">Bootstrap</a>.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript" th:src = "@{'/js/popper.min.js'}"></script>
<script type="text/javascript" th:src = "@{'/js/bootstrap.bundle.js'}"></script>
<script type="text/javascript" th:src = "@{'/js/holder.min.js'}"></script>
</body>
</html>