<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">

    <title>DevNexus</title>

    <link rel="stylesheet" type="text/css" th:href = "@{'/css/bootstrap.css'}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href = "@{'/css/blog.css'}">
    <link rel="stylesheet" type="text/css" th:href = "@{'/css/style.css'}">
</head>

<body>

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <a class="navbar-brand" th:href="@{'/posts'}">
                <img th:src="@{/logo.png}" alt="Logo" height="30" width="30" class="mr-2">
                <strong>DevNexus</strong>
            </a>

            <div class="dropdown">
                <div sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="@{/profile.png}" alt="Profile" height="30" width="30" class="mr-2">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" >
                        <li><a class="dropdown-item" th:href="@{'/profile'}">Profile</a></li>
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a class="dropdown-item" th:href="@{'/admin-panel'}">Admin panel</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li ><a class="dropdown-item" th:href="@{'/log-out'}">Log out</a></li>
                    </ul>
                </div>
                <a class="btn btn-sm btn-outline-secondary" th:href="@{'/sign-up-page'}" sec:authorize="isAnonymous()">Sign up</a>
                <a class="btn btn-sm btn-outline-secondary" th:href="@{'/sign-in-page'}" sec:authorize="isAnonymous()">Sign in</a>
            </div>

        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" th:each="category : ${categories}" th:href="@{'/category/' + ${category.getId()}}">
                <span th:text="${category.getName()}"></span>
            </a>
        </nav>
    </div>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title" th:text="${post.getTitle()}"></h2>
                    <p class="blog-post-meta">
                        <script>
                            var date = new Date(/*[[${post.getCreatedAt()}]]*/);
                            var options = { month: 'short', day: 'numeric', locale: 'en-US' };
                            var formattedDate = date.toLocaleDateString('en-US', options);
                            document.write(formattedDate);
                        </script>
                    </p>
                    <div th:each="line : ${post.content.split('\n')}">
                        <p th:text="${line}"></p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h6 class="card-subtitle mb-2 text-muted">Comments:</h6>
        <div class="comments-list mb-4" id="commentsList">

        </div>

        <input id="postId" type="hidden" th:value="${post.getId()}">
        <div class="mt-4 mb-2" id="commentForm" sec:authorize="isAuthenticated()">
            <input id="commentAuthor" type="hidden" th:value="${#authentication?.principal?.fullName ?: ''}" >
            <div class="mb-3">
                <label for="commentContent" class="form-label">Comment</label>
                <textarea class="form-control" id="commentContent" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary" onclick="addComment()">Submit</button>
        </div>

        <script type="text/javascript">
            loadComments();
            function loadComments(){
                const postId = document.getElementById('postId').value;

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("POST", "/api/comments/" + postId, true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let comments = JSON.parse(httpRequest.responseText);

                        let listContent = "";
                        for (let i = 0; i < comments.length; i++) {
                            listContent += "<div class='card mb-2'>" +
                                "<div class='card-body'>" +
                                "<div class='d-flex justify-content-between align-items-center'>" +
                                "<h6 class='card-title'>" + comments[i].fullName + "</h6>";
                            if ("<%= request.isUserInRole('ROLE_ADMIN') %>") {
                                listContent += "<button class='btn btn-sm btn-danger delete-comment' onclick='deleteComment(" + comments[i].id + ")'>&times;</button>";
                            }
                            listContent += "</div>" +
                                "<p class='card-text'>" + comments[i].content + "</p>";

                            var date = new Date(comments[i].commentedAt);
                            var options = { month: 'short', day: 'numeric', locale: 'en-US' };
                            var formattedDate = date.toLocaleDateString('en-US', options);

                            listContent += "<small class='text-muted'>" + formattedDate + "</small>" +
                                "</div></div>";
                        }
                        document.getElementById("commentsList").innerHTML = listContent;
                    }
                };

                httpRequest.send();
            }
            function addComment() {
                const postId = document.getElementById('postId').value;

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("POST", "/api/comments/add-comment/" + postId, true);
                httpRequest.setRequestHeader("Content-Type", "application/json");

                let commentAuthor = document.getElementById('commentAuthor').value;
                let commentContent = document.getElementById('commentContent').value;
                let now = new Date();
                let createdAt = now.toISOString();

                httpRequest.onreadystatechange = function() {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                        document.getElementById('commentContent').value = '';
                        loadComments();
                    }
                };

                let body = {
                    fullName: commentAuthor,
                    commentedAt: createdAt,
                    content: commentContent,
                };

                body = JSON.stringify(body);
                httpRequest.send(body);
            }
            function deleteComment(commentId){
                let postId = document.getElementById('postId').value;
                const httpRequest = new XMLHttpRequest();
                const url = `/api/comments/${postId}?commentId=${commentId}`;

                httpRequest.open("DELETE", url, true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
                        loadComments();
                    }
                };

                httpRequest.send();
            }
        </script>

    </main>

</div>


<footer class="blog-footer">
    <p>Made by <a href="https://t.me/Aishuga">Aisha</a> with the help of <a href="https://getbootstrap.com/">Bootstrap</a>.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript" th:src = "@{'/js/popper.min.js'}"></script>
<script type="text/javascript" th:src = "@{'/js/bootstrap.bundle.js'}"></script>
<script type="text/javascript" th:src = "@{'/js/holder.min.js'}"></script>
</body>
</html>